<app-header></app-header>
<div class="header-1"></div>
<!-- Subheader Start -->
<div class="subheader bg-cover bg-center dark-overlay" style="background-image: url('assets/img/subheader.jpg')">
    <div class="container">
        <div class="subheader-inner">
            <h1 class="text-white">Featured Listing</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"> <i class="fas fa-home"></i> </a></li>
                    <li class="breadcrumb-item active" aria-current="page">Featured Listing</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- Subheader End -->
<!-- Listings Start -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Posts Start -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Listing Start -->
                    <div class="col-md-6" *ngFor="let feature of featurelistdata">
                        <div class="listing" *ngFor="let featuredata of feature.Results  | paginate : { id : 'listing_pagination', itemsPerPage : 5,currentPage : page,totalItems:totalrecords }">
                            <div class="listing-thumbnail">
                                <a routerLink='/listing-detail-v1/{{ featuredata.Id }}'><img src="{{ featuredata.Property.Photo[0].HighResPath }}" alt="listing"></a>
                                <div class="listing-badges">
                                    <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                                    <span class="listing-badge pending"> Pending</span>
                                </div>
                                <div class="listing-controls">
                                    <a  class="favorite" (click)="saveproperty(featuredata.MlsNumber)"><i class="far fa-heart"></i></a>
                                    <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                                </div>
                            </div>
                            <div class="listing-body">
                                <div class="listing-author">
                                    <div class="listing-author-body">
                                        <span class="listing-date"> {{ featuredata.Property.Photo[0].LastUpdated }}</span>
                                    </div>
                                    <div class="dropdown options-dropdown">
                                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul>
                                                <li> <a href="tel:+123456789"> <i class="fas fa-phone"></i> Call Agent</a> </li>
                                                <li> <a href="mailto:+123456789"> <i class="fas fa-envelope"></i> Send Message</a> </li>                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="listing-title"> <a routerLink='/listing-detail-v1/{{ featuredata.Id }}' title="{{ featuredata.Property.Address.AddressText }}">{{ featuredata.Property.Address.AddressText }}</a> </h5>
                                <span class="listing-price">{{ featuredata.Property.Price }} </span>
                                <p class="listing-text">{{ featuredata.PublicRemarks }}</p>
                                <div class="acr-listing-icons">
                                    <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
                                        <i class="flaticon-bedroom"></i>
                                        <span class="acr-listing-icon-value">{{ featuredata.Building.Bedrooms }}</span>
                                    </div>
                                    <div class="acr-listing-icon" data-toggle="tooltip" title="Bathrooms">
                                        <i class="flaticon-bathroom"></i>
                                        <span class="acr-listing-icon-value">{{ featuredata.Building.BathroomTotal }}</span>
                                    </div>
                                    <div class="acr-listing-icon" data-toggle="tooltip" title="Square Feet">
                                        <i class="flaticon-ruler"></i>
                                        <span class="acr-listing-icon-value">{{ featuredata.Land.SizeTotal }}</span>
                                    </div>
                                </div>
                                <div class="listing-gallery-wrapper">
                                    <a routerLink='/listing-detail-v1/{{ featuredata.Id }}' class="btn-custom btn-sm secondary">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Listing End -->
                </div>
                <!-- Pagination Start -->
                <div>
                    <pagination-controls class="pagination "  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                </div>
                <!-- Pagination Start -->
            </div>
            <!-- Posts End -->
        </div>
    </div>
</div>
<!-- Listings End -->
<app-footer></app-footer>