<app-header></app-header>
<div class="header-1"></div>
<!-- Subheader Start -->
<div  style="background-color: gray;">
    <div class="container">
        <div class="subheader-inner">
            <h1 class="text-white">Find Our<br> New Home</h1>
        </div>
    </div>
</div>
<!-- Subheader End -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Tab Content Start -->
            <div class="col-md-12">
                  <!-- Filter Start -->
                  <form [formGroup]="searchdata">
                  <div class="col-md-5 form-group ml-auto text-right">
                    <button type="submit" class="col-md-5 btn-custom secondary active" (click)="resi()">RESIDENTIAL</button>&nbsp;
                    <button type="submit" class="col-md-5 btn-custom secondary active" (click)="com()">COMMERCIAL</button>
                </div>
                <div class="tab-pane fade show active" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <select class="form-control" name="status" formControlName="cityname">
                                <option >Select By City Name Optional</option>
                                <option value="{{ cityname.name }}" *ngFor="let cityname of dropdowndata ">{{ cityname.name }}</option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group">
                            <input  name="content" rows="4" class="form-control" placeholder="Serch by City,Community or MLS#" formControlName="Mlsmo">
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control" name="status">
                                <option >Min Price</option>
                                <option value="$20000">$20000</option>
                                <option value="$30000">$30000</option>
                                <option value="$40000">$40000</option>
                                <option value="$50000">$50000</option>
                                <option value="$60000">$60000</option>
                                <option value="$70000">$70000</option>
                                <option value="$80000">$80000</option>
                                <option value="$90000">$90000</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control" name="status">
                                <option >Max Price</option>
                                <option value="$20000">$20000</option>
                                <option value="$30000">$30000</option>
                                <option value="$40000">$40000</option>
                                <option value="$50000">$50000</option>
                                <option value="$60000">$60000</option>
                                <option value="$70000">$70000</option>
                                <option value="$80000">$80000</option>
                                <option value="$90000">$90000</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="status" formControlName="beds">
                                <option value="0">Bedrooms</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control" name="status"  formControlName="bath" >
                                <option >Bath Rooms</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control" name="status">
                                <option >Property Type</option>
                                <option value="Condo">Condo</option>
                                <option value="Free-HoldTown">Free-HoldTown</option>
                                <option value="Condo-HoldTown">Condo-HoldTown</option>
                                <option value="Detached">Detached</option>
                                <option value="Semi-Detached">Semi-Detached</option>
                                <option value="Duplex">Duplex</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-2 form-group">
                        <select class="form-control" name="status">
                                <option>For Sale</option>
                                <option value="Condo">For Lease</option>
                            </select><br>
                        </div> -->
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-5 form-group ml-auto text-right">
                        <button type="submit" class="col-md-5 btn-custom secondary" (click)="searchquerys()">SEARCH</button>
                    </div>
                    </div>
                    </form>
                <!-- Filter End -->
            </div>
            <!-- Tab Content End -->
        </div>
    </div>
</div>

<div class="row" >
    <!-- Search Mlsno Start -->
    <div *ngIf="search">
    <h3>Search Details</h3>
    <br>
    <!-- Listing Start -->
    <div class="col-md-6 col-sm-6" *ngIf="searchbyMlsno">
        <div class="listing" *ngFor="let searchdata of mlsresult.Results  | paginate : { id : 'listing_pagination', itemsPerPage : 2,currentPage : page,totalItems:totalrecords }">
            <div class="listing-thumbnail">
                <a routerLink='/listing-detail-v1'><img src="{{ searchdata.Property.Photo[0].HighResPath }}" alt="listing"></a>
                <!-- <div class="listing-badges">
                    <span class="listing-badge featured"> <i class="fas fa-star"></i> </span>
                    <span class="listing-badge sale"> On Sale</span>
                </div> -->
                <div class="listing-controls">
                    <a href="#" class="favorite"><i class="far fa-heart"></i></a>
                    <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                    <!-- <a href="#" class="fly-to-location" data-lat="{{ searchdata.Property.Address.Longitude }}" data-lng="{{ searchdata.Property.Address.Latitude }}"><i class="fas fa-map-marker-alt"></i></a> -->
                </div>
            </div>
            <div class="listing-body" >
                <div class="listing-author">
                    <div class="listing-author-body">
                    <span class="listing-date">{{ searchdata.Property.Photo[0].LastUpdated }}</span>
                    </div>
                    <div class="dropdown options-dropdown">
                        <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <ul>
                                <li> <a href="tel:+123456789"> <i class="fas fa-phone"></i> Call Agent</a> </li>
                                <li> <a href="mailto:+123456789"> <i class="fas fa-envelope"></i> Send Message</a> </li>
                                <!-- <li> <a routerLink='/listing-detail-v1'> <i class="fas fa-bookmark"></i> Book Tour</a> </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <h5 class="listing-title"> <a routerLink='/listing-detail-v1' title="Theodore Lowe, Azusa New York 39531">Theodore Lowe, Azusa New York 39531</a> </h5>
                <span class="listing-price">{{ searchdata.Property.Price }}<span>/month</span> </span>
                <p class="listing-text">{{ searchdata.PublicRemarks }}</p>
                <div class="acr-listing-icons">
                    <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
                        <i class="flaticon-bedroom"></i>
                        <span class="acr-listing-icon-value">{{ searchdata.Building.BathroomTotal }}</span>
                    </div>
                    <div class="acr-listing-icon" data-toggle="tooltip" title="Bathrooms">
                        <i class="flaticon-bathroom"></i>
                        <span class="acr-listing-icon-value">{{ searchdata.Building.Bedrooms }}</span>
                    </div>
                    <div class="acr-listing-icon" data-toggle="tooltip" title="Square Feet">
                        <i class="flaticon-ruler"></i>
                        <span class="acr-listing-icon-value">{{ searchdata.Land.SizeTotal }}</span>
                    </div>
                </div>
                <div class="listing-gallery-wrapper">
                    <a routerLink='/listing-detail-v1/{{ searchdata.Id }}/{{ searchdata.MlsNumber }}' class="btn-custom btn-sm secondary">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Listing End -->
      <!-- Pagination Start -->
        <div>
            <pagination-controls class="pagination "  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      <!-- Pagination End -->
    </div>
    <!-- Search Mlsno End -->
    <!-- Dropdown Search Start-->
    <div class="section section-padding pt-0 listings" *ngIf="dropstates">
        <div class="container">
            <div class="section-title-wrap section-header flex-header">
                <div class="section-title-text">
                    <h2 class="title">Search Details</h2>
                </div>
                <!-- <div class="acr-arrows primary-arrows">
                    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
                    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
                </div> -->
            </div>
            <div class="listings-slider" >
               <div>
                <!-- Listing Start -->
                <div class="listing" *ngFor="let featurelistdetails of dropdownsearchdetails.Results  | paginate : { id : 'listing_pagination', itemsPerPage : 2,currentPage : page,totalItems:totalrecords }">
                    <div class="listing-thumbnail" >
                        <a routerLink='/listing-detail-v1'><img src="{{ featurelistdetails.Property.Photo[0].HighResPath }}" alt="listing"></a>
                        <div class="listing-badges">
                            <!-- <span class="listing-badge featured"> <i class="fas fa-star"></i> </span> -->
                            <span class="listing-badge pending"> Pending</span>
                        </div>
                        <div class="listing-controls">
                            <a  class="favorite" (click)="saveproperty(featurelistdetails.MlsNumber)"><i class="far fa-heart"></i></a>
                            <a href="#" class="compare"><i class="fas fa-sync-alt"></i></a>
                        </div>
                    </div>
                    <div class="listing-body" >
                        <div class="listing-author" >
                            <!-- <img src="" alt="owner"> -->
                            <div class="listing-author-body">
                                <!-- <p> <a href="#">{{ featurelistdetails.Individual[0].Name }}</a> </p> -->
                                <span class="listing-date">{{ featurelistdetails.Property.Photo[0].LastUpdated }}</span>
                            </div>
                        </div>
                        <h5 class="listing-title"> <a  title="{{ featurelistdetails.Property.Address.AddressText }}">{{ featurelistdetails.Property.Address.AddressText }}</a> </h5>
                        <span class="listing-price">{{ featurelistdetails.Property.Price }} </span>
                        <!-- <span>/month</span> -->
                        <p class="listing-text">{{ featurelistdetails.PublicRemarks }}</p>
                        <div class="acr-listing-icons">
                            <div class="acr-listing-icon" data-toggle="tooltip" title="Beds">
                                <i class="flaticon-bedroom"></i>
                                <span class="acr-listing-icon-value">{{ featurelistdetails.Building.Bedrooms }}</span>
                            </div>
                            <div class="acr-listing-icon" data-toggle="tooltip" title="Bathrooms">
                                <i class="flaticon-bathroom"></i>
                                <span class="acr-listing-icon-value">{{ featurelistdetails.Building.BathroomTotal }}</span>
                            </div>
                            <div class="acr-listing-icon" data-toggle="tooltip" title="Square Feet">
                                <i class="flaticon-ruler"></i>
                                <span class="acr-listing-icon-value">{{ featurelistdetails.Land.SizeTotal }}</span>
                            </div>
                        </div>
                        <div class="listing-gallery-wrapper">
                            <a routerLink='/listing-detail-v1/{{ featurelistdetails.Id }}/{{ featurelistdetails.MlsNumber }}' class="btn-custom btn-sm secondary">View Details</a>
                        </div>
                    </div>
                </div>
                <!-- Listing End -->
            </div>
        </div>
          <!-- Pagination Start -->
            <div>
                <pagination-controls class="pagination "  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
          <!-- Pagination End -->
    </div>
    <!-- Dropdown Search End-->

</div>  
